*{
    font-family: "Oswald", sans-serif;
}
header{
    background-color: #173B45;
}
header span{
    color: #F8EDED;
}
.nav-item a{
    color: #F8EDED;
}
.nav-item a:hover{
    color: #FF8225;
    
}
.nav-item a:visited{
    color: #F8EDED;
}
#nav-butoon{
    background-color: #FF8225;
}
.bi{
    color: blueviolet;
    font-size: 2em;
}
.img-proyecto1{
    background-image: url(Clonpinterest.png);
     background-size: contain; 
    background-repeat: no-repeat;   
}